/* Hide the scrollbar */
*::-webkit-scrollbar,
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-thumb {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
  -webkit-appearance: none;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll; /* Allows horizontal scrolling */
  width: 100%; /* Make sure container stretches full width */
  height: 100%; /* Ensure container adjusts to the height of its parent */

  @media(max-width: 768px) {
    width: 100% !important;
    overflow-x: scroll !important;
  }

  img {

    object-fit: cover; /* Ensure the image fits without breaking the aspect ratio */
    transform: scale(0.98);
    height: 100%; /* Ensure the image takes the full height of the container */

    @media(max-width: 768px) {
      display: block;
      width: 2560px ;
    }
  }
}
